<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lobby Dramanesia - Download dan Nonton Drama Subtitle Indonesia</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <div id="root">
    <div class="h-screen flex flex-col">
      <main class="flex-grow flex justify-center items-center">
        <div class="hero h-full w-full bg-cover bg-center bg-no-repeat" style="background-image: url('https://raw.githubusercontent.com/risqyananto/NuriKids/refs/heads/main/4a0b0842-80f8-4c0e-86ef-d4fe93e66d38.png');">
          <div class="hero-overlay bg-opacity-50"></div>
          <div class="hero-content text-center">
            <div class="max-w-md">
              <div>
                <img src="https://dramanesia.xyz/wp-content/uploads/2025/03/dramanesia-reborn.png" alt="Logo" class="mx-auto" width="600" height="262">
                <div class="divider divider-primary mt-3 mb-10">
                  <p class="text-lg font-bold text-gray-100">Download dan Nonton Drama Subtitle Indonesia</p>
                </div>
                <p class="text-2xl font-bold text-gray-100">Mulai Baca Melalui</p>

                <div class="flex w-full mt-4">
                  <div class="card rounded-box grid h-full flex-grow place-items-center">
                    <a href="https://dramanesia.xyz" class="btn btn-secondary btn-block">Website</a>
                  </div>
                  <div class="divider divider-horizontal"></div>
                  <div class="card rounded-box grid h-full flex-grow place-items-center">
                    <a href="https://lobby.dramanesia.xyz/app" class="btn btn-accent btn-block">Aplikasi</a>
                  </div>
                </div>

                <div class="divider"></div>
                <div class="card rounded-box grid h-full flex-grow place-items-center">
                  <a href="https://t.me/DramanesiaReborn" class="btn btn-primary btn-block">Gabung Telegram!</a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </main>

      <footer class="footer footer-center bg-gray-800 text-white p-2 text-center bg-opacity-50">
        <aside>
          <p class="font-semibold p-2">&copy; <%= new Date().getFullYear() %> <%= title %></p>
        </aside>
      </footer>
    </div>
  </div>
</body>
</html>
